<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emergencies.dao.OthersDAO">
    <resultMap id="Others" type="com.emergencies.entity.Others">
        <id column="othersId" property="othersId" jdbcType="NUMERIC"/>
        <id column="baseId" property="baseId" jdbcType="NUMERIC"/>
        <result column="othersDesc" property="othersDesc" jdbcType="CLOB"/>
        <result column="othersInfo" property="othersInfo" jdbcType="CLOB"/>
    </resultMap>

    <sql id="others_Column_List">
        baseId, othersDesc, othersInfo
    </sql>


    <insert id="insert" parameterType="com.emergencies.entity.Others" useGeneratedKeys="true" keyProperty="othersId">
        INSERT INTO
        others
        (baseId, othersDesc, othersInfo)
        VALUES
        (#{baseId}, #{othersDesc}, #{othersInfo})
    </insert>

    <insert id="insertSelectKey" parameterType="com.emergencies.entity.Others">
        <selectKey keyProperty="othersId" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        others
        (baseId, othersDesc, othersInfo)
        VALUES
        (#{baseId}, #{othersDesc}, #{othersInfo})
    </insert>
</mapper>